<!doctype html>
<select id="tableSelect">
	<option selected disabled hidden>Choose A Table</option>
	{{#each tables}}
	<option value={{table_name}}>{{table_name}}</option>
	{{/each}}
</select><br>
<h1>Character has Superpower Relationship:</h1>
<table>
	<thead>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Alias</th>
		<th>Power</th>
	</thead>
	<tbody>
		{{#each has}}
		<tr>
			<td>{{firstName}}</td>
			<td>{{lastName}}</td>
			<td>{{alias}}</td>
			<td>{{name}}</td>
			<td id="delete"><button onclick="deleteHas({{characterID}}, {{superpowerID}})">Delete</button></td>
			<td id="update"><a href="/has/{{characterID}}/{{superpowerID}}">Update</a></td>
		</tr>
		{{/each}}
	</tbody>
	<form id="addHas" action="/has" method="post">
		Add Relationship:<br>
		<select name="characterID">
			<option selected disabled hidden>Choose a Character</option>
			{{#each characters}}
			<option value={{ID}}>{{firstName}} {{lastName}} {{alias}}</option>
			{{/each}}
		</select> has
		<select name="superpowerID">
			<option selected disabled hidden>Choose a Superpower</option>
			{{#each superpowers}}
			<option value={{ID}}>{{name}}</option>
			{{/each}}
		</select>
		<input type="submit" value="Submit">
	</form>
</table>
