<!doctype html>
<h1>Update {{character.firstName}} {{character.lastName}} {{character.alias}} has {{superpower.name}}:</h1>
<form id="updateHas" action="/has" method="post">
	<select name="characterID" id="characterSelect">
		{{#each characters}}
		<option value={{ID}}>{{firstName}} {{lastName}} {{alias}}</option>
		{{/each}}
	</select> has
	<select name="superpowerID" id="superpowerSelect">
		{{#each superpowers}}
		<option value={{ID}}>{{name}}</option>
		{{/each}}
	</select>
</form>
<button onclick="updateHas({{character.ID}}, {{superpower.ID}})">Update</button>
<script defer>selectCharacter({{character.ID}});</script>
<script defer>selectSuperpower({{superpower.ID}});</script>
